
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
   font-family: 'Work Sans', sans-serif;
   margin :0;
}
.App{
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
}


.pages{
   width: 100%;

}
.pages .containerr{
   padding: 0px;
}
.Myimage {
   height: 124px;
   width: 88px;
}
table {

   width: 100vh;
   height: 50px;
}

th {

   text-align: start;

}

td {
   text-align: start;

   border-top: 1px solid black;
   padding: 5px;
   
}
.list{
   padding: 20px;
}

.Title {
   display: flex;
   justify-content: space-between;
   align-items:flex-end;
   background-color:#fff;
   border-top-left-radius: 12px;
   border-top-right-radius: 12px;
   padding-top: 25px;
   padding-bottom: 25px;
   margin-bottom: 2px;
}
h1 {
   padding-left: 15px;
}
.AddBtt {
   padding-right: 85px;
   display: flex;
}

.Btt {
   padding-right: 75px;
}
.karim{
   background-color:#e9e8e8;
}
div.error {
   padding: 10px;
   background: #ffefef;
   border: 1px solid  #e7195a;
   color: #e7195a;
   border-radius: 4px;
   margin: 20px;
   width: auto;
 }
 input.error {
   border: 1px solid  #e7195a;
 }
div.message {
   padding: 10px;
   background: #d3ffd3;
   border: 1px solid  #00c900;
   color: #00c900;
   border-radius: 4px;
   margin: 20px;
   width: auto;
 }
 input.message {
   border: 1px solid  #00c900;
 }
 .leftSide{
   width: 100%;
   display: flex;
   flex-direction: column;
 }
 @media only screen and (max-width: 600px) {
   body {
      font-size: 14px; 
    }


  }